
<div class="form-container">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= f.fields_for :profile do |p| %>
    <div class="form-group">
      <input type="text" name="user[profile_attributes][first_name]" id="user_profile_attributes_first_name" required="required"
      autofocus="autofocus"
      />

      <label for="user_profile_attributes_first_name" class="control-label">First Name</label>

      <i class="bar"></i>
    </div>

    <div class="form-group">
      <input type="text" name="user[profile_attributes][last_name]" id="user_profile_attributes_last_name" required="required" autofocus="true"/>

      <label for="user_profile_attributes_last_name" class="control-label">Last Name</label>

      <i class="bar"></i>
    </div>
  <% end %>

  <div class="form-group">
    <input type="email" name="user[email]" id="user_email" autocomplete="email" required="required"/>

    <label for="user_profile_attributes_first_name" class="control-label">Email Address</label>

    <i class="bar"></i>
  </div>

  <div class="form-group" style="display: none">
    <input type="text" name="user[coords]" id="user_coords" autocomplete="location" required="required"/>

    <label for="user_profile_attributes_coords" class="control-label">Location</label>

    <i class="bar"></i>
  </div>

  <div class="form-group">
    <input type="password" name="user[password]" id="user_password" autocomplete="new_password" required="required"/>

    <label for="user_password" class="control-label">
      Password
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
    </label>

    <i class="bar"></i>
  </div>

  <div class="form-group">
    <input type="password" name="user[password_confirmation]" id="user_password_confirmation" autocomplete="new_password" required="required"/>

    <label for="user_password_confirmation" class="control-label">Confirm Password</label>

    <i class="bar"></i>
  </div>

  <div class="button-container">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
</div>

<script type="text/javascript">

var locationInput = document.querySelector("#user_coords");

var geoLocationOptions = {
  enableHighAccuracy: true,
  timeout: 5000,
  maximumAge: 0
};

function success(pos) {
  var crds = pos.coords;
  var crdsObj = {latitude: crds.latitude, longitude: crds.longitude};
  locationInput.value = JSON.stringify(crdsObj);
  console.log(`location Input Element: `, locationInput.value);
  console.log(`coords: `, crds);
};

function error(err){
    locationInput.value = "none";
    console.log(`Geolocation error: `, err);
    console.log(`Set location field to: `, locationInput.value);
};

navigator.geolocation.getCurrentPosition(success, error, geoLocationOptions);

</script>










