<div class="form-container">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="form-group">
      <input type="email" name="user[email]" id="user_email" autocomplete="email" required="required"autofocus="autofocus"/>

      <label for="user_profile_attributes_first_name" class="control-label">Email Address</label>

      <i class="bar"></i>
    </div>

    <div class="form-group">
      <input type="password" name="user[password]" id="user_password" autocomplete="password" required="required"/>

      <label for="user_password" class="control-label">
        Password
      </label>

      <i class="bar"></i>
    </div>

    <% if devise_mapping.rememberable? %>

        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, id: "remember-me" %>

    <% end %>

    <div class="button-container">
      <%= f.submit "Log in", class: "btn btn-primary" %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>

