<!DOCTYPE html>
<html>
  <head>
    <title>Neighbourly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_pack_tag "application" %>
    <%= javascript_packs_with_chunks_tag "navbar", "topbar" %>
  </head>

  <body>
  <h1>Welcome to Neighbourly</h1>
    <%= render "layouts/flash" %>

    <ul class="menu">
      <%= render "devise/menu/login_logout" %>
      <%= render "devise/menu/signup_edit" %>
    </ul>

    <div id="nav-bar"></div>
    <div id="top-bar"></div>

    <%= yield %>
  </body>
</html>
