<!DOCTYPE html>
<html>
  <head>
    <title>Neighbourly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% # Animate CSS CDN %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_pack_tag "application" %>
    <%= javascript_packs_with_chunks_tag "navbar" %>

  </head>

  <body>
    <%= render "layouts/flash" %>

    <div class="layout-container">
    <% # Side Navbar %>
      <nav id="nav-bar"></nav>

      <section class="main-content">
    <% # Devise Login %>
        <div id="top-bar">
            <%= render "devise/menu/top_menu_links" %>
        </div>

        <%= yield %>
      </section>
    </div>
  </body>
</html>
