<!DOCTYPE html>
<html>
  <head>
    <title>Neighbourly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% # ROBOTO FONT REG + BOLD %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <% # Animate CSS CDN %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_pack_tag "application" %>

    <%= include_gon :camel_case => true, :camel_depth => 2 %>

    <% if user_signed_in? %>
      <%= javascript_packs_with_chunks_tag "navbar", "create_listing" %>
    <% else %>
      <%= javascript_packs_with_chunks_tag "navbar" %>
    <% end %>

    <%= javascript_packs_with_chunks_tag "log_rocket" %>

  </head>

  <body>
    <%= render "layouts/flash" %>

    <div class="layout-container">

      <% # Side Navbar %>
      <nav id="nav-bar"></nav>

      <section class="main-content">
        <% # Devise Login %>
        <div id="top-bar">
          <% if user_signed_in? %>
              <div id="add-listing-btn"></div>
          <% end %>

          <%= render "devise/menu/top_menu_links" %>
        </div>

        <%= yield %>
      </section>
    </div>
  </body>
</html>
